header-directive {
  height: 200px;
  width: 100%;
  background-color: lightblue;
  font-family: sans-serif;
}


.header {
  height: 200px;
  width: 100%;
  background-color: lightblue;
  font-family: sans-serif;
}
